{% extends 'panel/base.html' %}

{% block title %}Compartir un post{% endblock %}

{% block content %}
    {% if enviado %}
        <h1>E-mail satisfactoriamente enviado</h1>
        <p>
            "{{ post.titulo }}" fue satisfactoriamente enviado a {{ formulario.cleaned_data.para }}.
        </p>
    {% else %}
        <h1>Compartir "{{ post.titulo }}" por e-mail</h1>
        <form action="." method="post">
            {{ formulario.as_p }}
            {% csrf_token %}
            <input type="submit" value="Enviar e-mail">
        </form>
    {% endif %}
{% endblock %}